<app-header></app-header>

<div class="p-grid p-m-0 router-outlet">
    <div class="p-col-10 p-offset-1">
        <router-outlet></router-outlet>
    </div>
</div>

<div class="app-settings" (click)="showSettings()">
    <i class="pi pi-cog"></i>
</div>

<p-sidebar [(visible)]="display" position="right">
    <div>
        <div class="color-theme">
            Color Scheme
        </div>
        <div class="theme-options">
            <p-selectButton [options]="themeOptions" [(ngModel)]="theme" (onChange)="onSelectTheme($event.value)"></p-selectButton>
        </div>
    </div>
</p-sidebar>

<app-error></app-error>